.catalog {
  display: flex;
  flex-direction: column;
}

.catalog__title {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  text-align: center;

  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  min-height: 177px;
  width: 100%;
  background-color: #f1f1f1;
}

@media (min-width: $tablet-width) {
  .catalog__title {
    position: relative;
    align-items: flex-start;

    font-size: 43px;
    line-height: 50px;

    min-height: 128px;
    margin-top: -66px;
    margin-bottom: 81px;
    padding-top: 94px;

    border-top: 1px solid #ececec;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-position: 0 213px;
    background-size: 100% 24px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__title {
    height: 155px;

    font-size: 53px;
    line-height: 57px;

    margin-top: -54px;
    margin-bottom: 132px;
    background-position: 0 235px;
    background-size: 1150px 34px;
  }
}
