.color ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.color legend {
  position: relative;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;

  margin-bottom: 35px;
}

.color legend::before {
  position: absolute;
  content: "";

  top: 8px;
  left: 62px;

  width: 198px;
  height: 1px;

  background-color: #62d1ba;
}

.color label {
  position: relative;

  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;

  padding-left: 63px;
}

.color__option {
  margin-bottom: 45px;
}

.color__input-checkbox + label::before {
  position: absolute;
  content: "";

  top: 0;
  left: 0;

  width: 38px;
  height: 38px;

  border: 2px solid #000000;

  cursor: pointer;
}

.color__input-checkbox:hover + label::before,
.color__input-checkbox:focus + label::before {
  border: 2px solid #62d1ba;
}

.color__input-checkbox:active + label::before {
  border: 2px solid #c7c7c7;
}

.color__input-checkbox:checked + label::after {
  position: absolute;
  content: "";

  top: 8px;
  left: 5px;

  width: 33px;
  height: 23px;

  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  cursor: pointer;
}

@media (min-width: 768px) {
  .color label {
  font-size: 19px;
  }
}

@media (min-width: 1200px) {

}
