.color ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.color__legend {
  position: relative;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;

  margin-bottom: 35px;
}

.color__legend::before {
  position: absolute;
  content: "";

  top: 8px;
  left: 62px;

  width: 198px;
  height: 1px;

  background-color: #62d1ba;
}

.color label {
  position: relative;

  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;

  padding-left: 63px;
}

.color__option {
  margin-bottom: 45px;
}

.color__input-checkbox + label::before {
  position: absolute;
  content: "";

  top: 0;
  left: 0;

  width: 38px;
  height: 38px;

  border: 2px solid #000000;

  cursor: pointer;
}

.color__input-checkbox:hover + label::before,
.color__input-checkbox:focus + label::before {
  border: 2px solid #62d1ba;
}

.color__input-checkbox:active + label::before {
  border: 2px solid #c7c7c7;
}

.color__input-checkbox:checked + label::after {
  position: absolute;
  content: "";

  top: 8px;
  left: 5px;

  width: 33px;
  height: 23px;

  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  cursor: pointer;
}

@media (min-width: 768px) {
  .form__fieldset-wrapper {
    display: flex;
    justify-content: center;

    width: 100%;
    background-color: #f1f1f1;
  }

  .color__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    width: 668px;
    margin-top: 50px;
    margin-bottom: 35px;
  }

  .color__legend {
    margin-top: 10px;
  }

  .color__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;

    width: 507px;
  }

  .color__option {
    width: 253px;
  }

  .color__legend::before {
    display: none;
  }

  .color label {
    font-size: 19px;
  }

  .color__input-checkbox + label::before {
    width: 48px;
    height: 48px;
  }

  .color__input-checkbox:checked + label::after {
    top: 13px;
    left: 9px;
  }
}

@media (min-width: 1200px) {
  .color__wrapper {
    width: 842px;
  }

  .color__list {
    width: 730px;
  }

  .color__option {
    width: 243px;
  }
}
