.email {
  position: relative;

  margin-bottom: 32px;
}

.email legend {
  position: relative;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;

  margin-bottom: 5px;
}

.email legend::before {
  position: absolute;
  content: "";

  top: 8px;
  left: 82px;

  width: 179px;
  height: 1px;

  background-color: #62d1ba;
}

.email__input {
  width: 260px;
  height: 50px;
  border: none;
  border-bottom: 2px solid #000000;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    border-bottom: 2px solid #62d1ba;
  }
}

.email__input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #d6d6d6;
}

.email__icon-mail {
  position: absolute;
  content: "";

  width: 32px;
  height: 32px;

  top: 34px;
  right: 5px;

  fill: #d6d6d6;
}

.email__input:hover + .email__icon-mail,
.email__input:focus + .email__icon-mail,
.email__input:active + .email__icon-mail {
  fill: #62d1ba;
}

@media (min-width: 768px) {
  .email {
    padding-top: 15px;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }

  .email__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    width: 668px;
  }

  .email__legend {
    margin-top: 19px;
  }

  .email__legend::before {
    display: none;
  }

  .email__input {
    width: 500px;
    background-color: #f1f1f1;
  }

  .email__input::placeholder {
    font-size: 19px;

    padding-left: 17px;
  }

  .email__icon-mail {
    top: 28px;
    right: 21px;
  }
}

@media (min-width: 1200px) {
  .email__wrapper {
    width: 842px;
    justify-content: flex-start;
  }

  .email__legend {
    margin-right: 55px;
  }

  .email__input {
    width: 700px;
  }

  .email__icon-mail {
    right: 35px;
  }
}
