@font-face {
  font-family: "Open Sans";
  src:  local("Open Sans Regular"),
        url("../fonts/woff2/opensans.woff2") format("woff2"),
        url("../fonts/woff/opensans.woff") format("woff");
        /* url("../fonts/ttf/opensans.ttf") format("truetype");*/
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), local("Open Sans Bold"),
        url("../fonts/woff2/opensansbold.woff2") format("woff2"),
        url("../fonts/woff/opensansbold.woff") format("woff");
        /*url("../fonts/ttf/opensansbold.ttf") format("truetype");*/
  font-style: normal;
  font-weight: 700;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;

  background-color: #ffffff;
  width: 320px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}
