.main-nav {
  position: relative;
}

.main-nav__list,
.main-nav__search {
  margin: 0;
  padding: 0;
}

.main-nav__list {
  list-style: none;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
}

.main-nav__toggle {
  display: block;
  position: absolute;
  content: "";
  top: -47px;
  right: 38px;
  z-index: 2;

  width: 21px;
  height: 15px;
  margin: 0;
  padding: 0;
  background-color: transparent;

  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  position: absolute;
  content: "";

  top: 0;
  right: 0;

  width: 20px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
}

.main-nav--opened .main-nav__toggle {
  right: 30px;

  width: 21px;
  height: 20px;
}

.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  position: absolute;
  content: "";

  right: -2px;


  width: 26px;
  height: 2px;

  background-color: #000000;
}

.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}

.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav__form {
  display: flex;
  justify-content: center;
  padding: 23px 20px;
  border-top: 1px solid #ececec;
}

.main-nav__search {
  font-weight: bold;
  font-size: 17px;
  color: #000000;

  width: 280px;
  padding-left: 56px;

  background-image: url("../img/grey-icon-search.svg");
  background-repeat: no-repeat;
  background-position: 10px 2px;

  border: none;

  &:hover {
    background-image: url("../img/green-icon-search.svg");
  }

  &:focus {
    background-image: url("../img/lightgreen-icon-search.svg");
  }
}


.main-nav__search::placeholder {
  font-weight: bold;
  font-size: 17px;
  color: #000000;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;

    &--opened {
      display: block;
    }
  }

  .main-nav--closed .main-nav__form {
    display: none;

    &--opened {
      display: block;
    }
  }

  .main-nav--closed .main-nav__search {
    display: none;

    &--opened {
      display: block;
    }
  }

  .main-nav--closed .user-list__item {
    display: none;

    &--opened {
      display: block;
    }
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    width: 668px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__form {
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    width: 43px;
    height: 40px;

    margin-left: auto;
  }

  .main-nav__icon-search {
    top: 34px;
    left: 34px;
  }

  .main-nav__search {
    padding-left: 0;
    width: 40px;
    background-position: 12px 12px;
  }

  .main-nav__search::placeholder {
    color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 1048px;
  }

  .main-nav__form {
    margin-left: auto;
  }
}
