.name {
  margin-bottom: 12px;
}

.name ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.name legend {
  position: relative;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;

  margin-bottom: 26px;
}

.name legend::before {
  position: absolute;
  content: "";

  top: 8px;
  left: 62px;

  width: 198px;
  height: 1px;

  background-color: #62d1ba;
}

.name label {
  position: relative;

  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
}

.name__input {
  width: 260px;
  height: 45px;
  border: none;
  border-bottom: 2px solid #000000;
  margin-bottom: 19px;
}

.name__input:hover,
.name__input:focus,
.name__input:active {
  outline: none; /*убрала outline, чтобы было видно, что состояние работает*/
  border-bottom: 2px solid #62d1ba;
}

.name__input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #d6d6d6;
}

@media (min-width: 768px) {
  .name {
    margin-top: 51px;
    margin-bottom: 25px;
  }
  .name__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    width: 668px;
  }

  .name legend {
    margin-top: 16px;
  }

  .name legend::before {
    display: none;
  }

  .name__list {
    width: 500px;
  }

  .name__input {
    width: 357px;
    height: 47px;
    padding-left: 16px;
    margin-bottom: 25px;
  }

  .name__input--name {
    width: 409px;
  }

  .name__input::placeholder {
  font-size: 19px;
  }

  .name label {
    font-size: 19px;
    margin-right: 21px;
  }
}

@media (min-width: 1200px) {
  .name__wrapper {
    width: 927px;
  }

  .name__list {
    width: 811px;
  }

  .name__input {
    width: 556px;
  }

  .name__input--name {
    width: 608px;
  }
}
