.page-header__wrapper {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 77px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__logo img {
  height: 40px;
  width: 89px;
  margin: 0 auto;
}


@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  /*.page-header__wrapper {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    width: 668px;
    height: 88px;
  }*/

  .page-header__logo {
    justify-content: flex-start;

    width: 320px;
    height: 87px;

    order: 1;
  }

  .page-header__logo img {
    width: 112px;
    height: 46px;
    margin: 0 auto;
    margin-top: 8px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    position: relative;
    width: 1048px;
  }

  .page-header__logo {
    order: 2;

    width: 148px;
    height: 88px;
  }

  .page-header__logo img {
    width: 148px;
    height: 73px;
  }
}
