.page-footer {
  width: 100%;
  min-height: 160px;
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  display: none;
}

@media (min-width: 768px) {
  .page-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 142px;
  }

  .page-footer__wrapper {
    flex-direction: row;
    width: 668px;
  }

  .page-footer__logo {
    display: block;

    width: 105px;
    height: 37px;
    margin-right: 111px;
  }
}

@media (min-width: 1200px) {
  .page-footer__wrapper {
    width: 1048px;
  }

  .page-footer__logo {
    margin-right: 301px;
  }
}
