.page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-main__title {
  display: block;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  text-align: center;
  box-sizing: border-box;

  width: 100%;
  height: 282px;
  margin: 0;
  padding: 0;
  padding-top: 70px;
  padding-left: 35px;
  padding-right: 35px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -20px;
  background-color: #f9f9f9;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 580px auto;
  }
}

.page-main__nav-item,
.page-main__nav-list,
.page-main__nav-link {
  margin: 0;
  padding: 0;
}

.page-main__nav-list {
  list-style: none;
  width: 100%;
}

.page-main__nav-item {
  display: flex;
  justify-content: center;

  min-height: 103px;

  cursor: pointer;
  z-index: 10;
}

.page-main__nav-list li:first-child {
  background-color: #63d1bb;
}

.page-main__nav-list li:nth-child(2) {
  background-color: #56c3b2;
}

.page-main__nav-link {
  position: relative;
  display: block;
  font-weight: bold;
  font-size: 19px;
  color: #ffffff;
  width: 150px;
  padding-left: 29px;
  padding-right: 180px;
  padding-top: 25px;

  &:hover .page-main__icon-interior {
    fill: #29a592;
  }

  &:hover .page-main__icon-toy {
    fill: #239f8e;
  }
}

.page-main__icon-interior {
  position: absolute;
  content: "";

  top: 23px;
  right: 36px;

  width: 41px;
  height: 63px;

  fill: #3bb09d;
}

.page-main__icon-toy {
  position: absolute;
  content: "";

  top: 21px;
  right: 27px;

  width: 60px;
  height: 60px;

  fill: #35a999;
}

.page-main__nav-link:hover,
.page-main__nav-link:focus {
  transform: translateY(-5px);
}

.page-main__nav-link:active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .page-main {
    width: 100%;
  }

  .page-main__title {
    position: relative;
    font-size: 43px;
    line-height: 50px;

    padding-top: 152px;
    margin-bottom: -125px;
    height: 745px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: center -5px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1160px auto;
    }
  }

  .page-main__title::after {
    position: absolute;
    content: "";

    bottom: 0;
    left: 0;

    width: 100%;
    height: 14px;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    background-color: transparent;

    z-index: 20;
  }

  .page-main__nav-list {
    display: flex;
    justify-content: center;
    width: 668px;
    height: 120px;
    margin: 0 auto;
  }

  .page-main__nav-item {
    margin-top: 5px;

    &:hover,
    &:focus {
      margin-top: 0;
      padding-bottom: 5px;
    }
  }

  .page-main__nav-link {
    font-size: 20px;
    line-height: 30px;
    padding-right: 146px;
    padding-top: 29px;
    padding-left: 37px;
  }

  .page-main__icon-interior {
    top: 30px;
  }

  .page-main__icon-toy {
    top: 31px;
    right: 32px;
  }
}

@media (min-width: 1200px) {
  .page-main__title {
    font-size: 53px;
    line-height: 57px;
    padding-left: 40px;

    background-image: url("../img/hero-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1190px auto;
    }
  }

  .page-main__title::after {
    width: 100%;
    height: 18px;
    background-size: cover;
  }

  .page-main__nav-list {
    width: 1048px;
  }

  .page-main__nav-link {
    padding-top: 28px;
    padding-left: 40px;
    padding-right: 335px;
  }

  .page-main__icon-interior {
    top: 30px;
  }

  .page-main__icon-toy {
    top: 30px;
    right: 35px;
  }
}
