.phone {
  position: relative;

  margin-bottom: 10px;
}

.phone__legend {
  position: relative;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;

  margin-bottom: 5px;
}

.phone__legend::before {
  position: absolute;
  content: "";

  top: 8px;
  left: 62px;

  width: 198px;
  height: 1px;

  background-color: #62d1ba;
}

.phone__input {
  width: 260px;
  height: 50px;
  border: none;
  border-bottom: 2px solid #000000;
  margin-bottom: 22px;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    border-bottom: 2px solid #62d1ba;
  }
}


.phone__input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #d6d6d6;
}

.phone__icon-phone {
  position: absolute;
  content: "";

  width: 25px;
  height: 25px;

  top: 34px;
  right: 9px;

  fill: #d6d6d6;
}

.phone__input:hover + .phone__icon-phone,
.phone__input:focus + .phone__icon-phone,
.phone__input:active + .phone__icon-phone {
  fill: #62d1ba;
}

@media (min-width: 768px) {
  .phone__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    width: 668px;
    margin-top: 50px;
  }

  .phone__legend {
    margin-top: 20px;
  }

  .phone__legend::before {
    display: none;
  }

  .phone__input {
    width: 502px;
    background-color: #f1f1f1;
  }

  .phone__input::placeholder {
    padding-left: 16px;
  }

  .phone__icon-phone {
    top: 65px;
  }
}

@media (min-width: 1200px) {
  .phone__wrapper {
    width: 842px;
    justify-content: flex-start;
  }

  .phone__legend {
    margin-right: 80px;
  }

  .phone__input {
    width: 700px;
  }

  .phone__icon-phone {
    right: 35px;
  }
}
