.popular-items {
  margin-bottom: 75px;
  width: 260px;
}

.popular-item__title,
.popular-item__description,
.popular-item__marker,
.popular-item__price,
.popular-item__parameters-list {
  margin: 0;
  padding: 0;
}

.popular-item__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  padding-bottom: 3px;
}

.popular-item__title a {
  color: #000000;
}

.popular-item__marker {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #63d1bb;
}

.popular-item__description {
  padding-top: 21px;
  padding-bottom: 17px;
}

.popular-item__parameters {
  line-height: 20px;
  margin-bottom: 28px;
}

.popular-item__parameters-list {
  width: 100%;
  border-collapse: collapse;
}

.popular-item__parameters-list tr {
  border-bottom: 1px solid #ececec;
}

.popular-item__parameter-value,
.popular-item__parameter-field {
  padding: 10px 0;
}

.popular-item__parameter-value {
  width: 98px;
}

.popular-item__image {
  margin-bottom: 16px;
}

.popular-item__price {
  display: flex;
  justify-content: center;

  font-weight: bold;
  font-size: 17px;
  margin-bottom: 26px;
}

@media (min-width: 768px) {
  .popular-items {
    width: 668px;
  }

  .popular-items__wrapper {
    width: 668px;
  }

  .popular-item {
    position: relative;
    width: 668px;
    height: 510px;
  }

  .popular-item__title {
    font-size: 43px;
    line-height: 50px;
    width: 430px;
  }

  .popular-item__marker {
    position: absolute;
    content: "";
    top: 15px;
    right: 28px;
    width: 80px;
    text-align: center;
  }

  .popular-item__description {
    width: 290px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .popular-item__parameters {
    width: 290px;
    margin-bottom: 50px;
  }

  .popular-item__image {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 334px;
    height: 404px;
    margin-bottom: 0;
  }

  .popular-item__image img {
    width: 100%;
    height: auto;
  }

  .popular-item__price {
    width: 290px;
    margin-bottom: 38px;
  }

  .popular-item__buy {
    width: 290px;
  }
}

@media (min-width: 1200px) {
  .popular-items {
    width: 1048px;
  }

  .popular-items__wrapper {
    width: 1048px;
  }

  .popular-item {
    width: 1048px;
    height: 636px;
  }

  .popular-item__description,
  .popular-item__parameters,
  .popular-item__price,
  .popular-item__buy {
    margin-left: 147px;
  }

  .popular-item__title {
    position: absolute;
    content: "";
    top: 54px;
    left: 143px;

    font-size: 53px;
    line-height: 57px;

    width: 600px;
    z-index: 10;
  }

  .popular-item__marker {
    line-height: 17px;
    top: 68px;
    left: 47px;
  }

  .popular-item__description {
    padding-top: 160px;
  }

  .popular-item__parameters {
    margin-bottom: 117px;
  }

  .popular-item__image {
    width: 524px;
    height: 636px;
  }
}
