.site-list__link {
  margin: 0;
  padding: 0;
}

.site-list__link {
  font-weight: bold;
  font-size: 17px;
  color: #000000;
}

.site-list__item {
  margin: 0;
  padding: 0;
  border-top: 1px solid #ececec;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 76px;
}
