.site-list__item {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid #ececec;
}

.site-list__link {
  font-weight: bold;
  font-size: 17px;
  color: #000000;

  margin: 0;
  padding: 0;
  padding-left: 56px;
  width: 220px;
}

.site-list__item--desktop {
  display: none;
}

@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-direction: row;
  }

  .site-list__link {
    width: 160px;
    padding-left: 0;
  }

  .site-list__item {
    padding-left: 0;
    border: none;
  }
}

@media (min-width: 1200px) {
  .site-list__item--desktop {
    display: block;
  }

  .site-list__link--desktop {
    font-size: 15px;
    line-height: 24px;
  }

  .site-list {
    flex-wrap: wrap;
  }
}
