.type {
  margin-bottom: 29px;
}

.type__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.type__legend {
  position: relative;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;

  margin-bottom: 31px;
}

.type__legend::before {
  position: absolute;
  content: "";

  top: 8px;
  left: 62px;

  width: 198px;
  height: 1px;

  background-color: #62d1ba;
}

.type label {
  position: relative;

  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
}

.type__option {
  margin-left: 63px;
  margin-bottom: 12px;
}

.type__input-radio + label::before {
  position: absolute;
  content: "";

  top: -6px;
  left: -62px;

  width: 36px;
  height: 36px;

  border: 2px solid #000000;
  border-radius: 50%;

  cursor: pointer;
}

.type__input-radio:hover + label::before,
.type__input-radio:focus + label::before {
  border: 2px solid #62d1ba;
}

.type__input-radio:active + label::before {
  border: 2px solid #c7c7c7;
}

.type__input-radio:checked + label::after {
  position: absolute;
  content: "";

  top: 6px;
  left: -50px;

  width: 14px;
  height: 14px;

  border: 1px solid #62d1ba;
  border-radius: 50%;
  background-color: #62d1ba;

  cursor: pointer;
}

@media (min-width: 768px) {
  .type {
    width: 668px;
  }

  .type__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    width: 668px;
  }

  .type__legend {
    margin-top: 10px;
  }

  .type__list {
    width: 507px;
  }

  .type__option {
    margin-bottom: 55px;
  }

  .type label {
    font-size: 19px;
  }

  .type__legend::before {
    display: none;
  }

  .type__input-radio + label::before {
    width: 48px;
    height: 48px;
  }

  .type__input-radio:checked + label::after {
    top: 15px;
    left: 15px;

    width: 19px;
    height: 19px;
  }
}

@media (min-width: 1200px) {
  .type {
    width: 842px;
  }

  .type__wrapper {
    width: 842px;
  }

  .type__list {
    width: 730px;
  }
}
