.user-list__cart {
  font-weight: bold;
  font-size: 17px;
  color: #000000;

  margin: 0;
  padding: 0;
  padding-left: 56px;
  width: 220px;
}

.user-list__item {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;
  padding: 23px 20px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}
