.user-list__cart {
  margin: 0;
  padding: 0;
}

.user-list__cart {
  font-weight: bold;
  font-size: 17px;
  color: #000000;
}

.user-list__item {
  margin: 0;
  padding: 0;
  border-top: 1px solid #ececec;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 76px;
}

.user-list__item {
  border-bottom: 1px solid #ececec;
}
