.user-list__cart {
  font-weight: bold;
  font-size: 17px;
  color: #000000;

  margin: 0;
  padding: 0;
  padding-left: 56px;
  width: 220px;
}

.user-list__cart:hover,
.user-list__cart:focus {
  opacity: 0.6;
}

.user-list__cart:active {
  opacity: 0.3;
}

.user-list__item {
  position: relative;
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.user-list__icon-cart {
  position: absolute;
  content: "";

  top: 25px;
  left: 32px;

  width: 21px;
  height: 19px;

  path {
    fill: #d3d2d2;
  }

  &:hover {
    path {
      fill: #63d1bb;
    }
  }

  &:active {
    path {
      fill: #d0f1ea;
    }
  }
}

@media (min-width: 768px) {
  .user-list__cart {
    text-align: right;
    width: 210px;
    padding-left: 0;
  }

  .user-list__item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 243px;
    height: 42px;
    border: none;
    padding-right: 0;
  }

  .user-list__icon-cart {
    top: 33px;
    left: 31px;
  }
}
